common --enable_platform_specific_config

build --features=layering_check
build --repo_env=BAZEL_CXXOPTS=-std=c++14

build:ci --keep_going
build:ci --test_output=all

build:generic_gcc --copt=-Wall
build:generic_gcc --copt=-Wextra
build:generic_gcc --copt=-Wpointer-arith
build:generic_gcc --per_file_copt=^//@-Wundef,-Werror
build:generic_gcc --copt=-Wno-unused-parameter

build:clang --config=generic_gcc
build:clang --repo_env=BAZEL_COMPILER=clang
build:clang --repo_env=CC=clang
build:clang --repo_env=CXX=clang++
# https://github.com/bazelbuild/bazel/issues/11122
# https://github.com/bazelbuild/bazel/issues/12797
build:clang --linkopt=-fsanitize-link-c++-runtime

build:libc++ --cxxopt=-stdlib=libc++
build:libc++ --linkopt=-stdlib=libc++

build:libc++-static --config=libc++
build:libc++-static --repo_env=BAZEL_LINKLIBS=-l%:libc++.a:-l%:libc++abi.a:-lm
build:libc++-static --repo_env=BAZEL_LINKOPTS=-pthread

build:macos --cxxopt=-std=c++14

build:macos-x86_64 --copt=-arch --copt=x86_64
build:macos-x86_64 --linkopt=-arch --linkopt=x86_64

build:msvc --per_file_copt=^external/@/W2
build:msvc --per_file_copt=^//@/W4,/WX
build:msvc --conlyopt=/Za
build:msvc --cxxopt=/std:c++14

build:asan --features=asan
build:asan --test_env=ASAN_OPTIONS=check_initialization_order=1:detect_invalid_pointer_pairs=1:detect_stack_use_after_return=1:strict_init_order=1:strict_string_checks=1

build:asan-msvc --config=asan
build:asan-msvc --copt=/fsanitize=address
build:asan-msvc --features=frame_pointer
build:asan-msvc --features=static_link_msvcrt

build:ubsan --features=ubsan
build:ubsan --test_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1

build:ubsan-extra --config=ubsan
build:ubsan-extra --copt=-fsanitize=implicit-signed-integer-truncation
